
@{
    ViewData["Title"] = "Index";
}
<div class="container contactus">
    <div class="contact-us-title">
        <h1>Contact Us</h1>
        <p>We are a first-generation family business established in 1972</p>
    </div>
    <div class="row">
        <div class="contactus-form col-lg-8">
            <div class="contactus-form-title">
                <h1>Suggestions and complaints</h1>
                <p>
                    Leave us your message. We happy for your suggestions and complaints.<i class="fa-regular fa-face-smile"></i>
                </p>
            </div>
            <form>
                <div class="contactus-form-inputs row">
                    <div class="firstname col-lg-6">
                        <label for="name">First Name</label>
                        <input type="text" required>
                    </div>
                    <div class="lastname col-lg-6">
                        <label for="last name">Last Name</label>
                        <input type="text" required>
                    </div>
                    <div class="email col-lg-12">
                        <label for="email">Email</label>
                        <input type="email" required>
                    </div>
                    <div class="message col-lg-12">
                        <label for="message">Message</label>
                        <textarea name="name"></textarea>
                    </div>
                    <div class="forum-btn col-lg-12">
                        <button><a href="#">Send Message</a></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="contactaddress col-lg-4">
            <h1>Our Address</h1>
            <p>329 Queensberry Street, North Melbourne VIC 3051, Australia.</p>
            <p>
                051-313-47-94 <br>
                support@despina.com
            </p>
            <div class="openninghours">
                <h2>Openning Hours</h2>
                <div class="openninghours-list">
                    <ul>
                        <li>Monday...........10AM-08 PM</li>
                        <li>Tuesday...........10AM-08 PM</li>
                        <li>Wednesday...........10AM-08 PM</li>
                        <li>Thursday...........10AM-08 PM</li>
                        <li>Friday...........10AM-08 PM</li>
                        <li>Saturday...........11 AM-06 PM</li>
                        <li>Sunday...........closed</li>
                        <li>
                            *Close on special days
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="map">
    <div style="width: 100%">
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
            <a href="https://www.maps.ie/distance-area-calculator.html">measure distance on map</a>
        </iframe>
    </div>
</div>

