@model ProductVM
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="product-details">
        @foreach (var item in Model.Products)
        {
        <div class="product">
            <img src="~/./assets/Img/@item.Images">
        </div>
        <div class="prod-details">
            <h2>@item.Title</h2>
            <h4>@item.Description</h4>
            <p>$@item.Price.ToString("0.00")</p>
            <div class="counter">
                <span class="down" onClick='decreaseCount(event, this)'>-</span>
                <input type="text" value="1">
                <span class="up" onClick='increaseCount(event, this)'>+</span>
            </div>
            <button class="pr-button">Add To Cart</button>
        </div>
        }
    </div>
</div>
