@model Blog
@{
    ViewData["Title"] = "Detail";
}

<div class="post-blog container">
    <div class="post-blog-bg col-lg-9">
        <img src="~/./assets/Img/@Model.BlogImg">
        <div class="post-blog-title">
            <p>Published:@Model.PubishedDate</p>
            <h2>@Model.Title</h2>
        </div>
    </div>
    <div class="post-blog-description col-lg-12">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est
            erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in
            ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus mollis et.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis diam erat. Duis velit lectus,
            posuere a blandit sit amet, tempor at lorem. Donec ultricies, lorem sed ultrices interdum, leo metus
            luctus sem, vel vulputate diam ipsum sed lorem. Donec tempor arcu nisl, et molestie massa scelerisque
            ut. Nunc at rutrum leo. Mauris metus mauris, tristique quis sapien eu, rutrum vulputate enim.
        </p>

        <p>
            Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum. Aliquam non tincidunt urna.
            Integer tincidunt nec nisl vitae ullamcorper. Proin sed ultrices erat. Praesent varius ultrices massa at
            faucibus. Aenean dignissim, orci sed faucibus pharetra, dui mi dignissim tortor, sit amet condimentum mi
            ligula sit amet augue. Pellentesque vitae eros eget enim mollis placerat.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, erat in malesuada aliquam, est
            erat faucibus purus, eget viverra nulla sem vitae neque. Quisque id sodales libero. In nec enim nisi, in
            ultricies quam. Sed lacinia feugiat velit, cursus molestie lectus mollis et.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute iure dolor in reprehenderit sed do eiusmod tempor incididunt minim
            veniam, quis nostrud.
        </p>
    </div>
</div>

