//Inner-blogs
.post-blog{
    padding: 20px 0;
    border-radius: 12px;
}
.post-blog-bg{
    img{
       width: 100%;
       margin: 0;
       height: 70vh;
       border-radius: 12px;
    }
}
.post-blog-title{
    p{
        color: #816E6E;
    }
    h2{
        color: #e5a418;
    }
}